/*
  文本截取显示
  line-num: 显示文本的行数 默认一行
*/
@mixin text-clip($line-num: 1) {
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line-num;
  overflow: hidden;
}
