/*** base ***/
$--color-white: #ffffff;
$--color-black: #000000;

$--color-primary: #c20c0c;
$--color-success: #46c37b;
$--color-warning: #f5a623;
$--color-danger: #f56c6c;
$--color-info: #909399;

$--color-text-primary: #303133;
$--color-text-regular: #606266;
$--color-text-secondary: #909399;
$--color-text-placeholder: #c0c4cc;

$--border-color-base: #dcdfe6;
$--border-color-light: #e4e7ed;
$--border-color-lighter: #ebeef5;
$--border-color-extra-light: #f2f6fc;

$--hover-background-color-black: rgba(
  $color: $--color-black,
  $alpha: 0.25
);
$--hover-background-color-white: rgba(
  $color: $--color-white,
  $alpha: 0.25
);

/*** ActionBar ***/
$--color-actionbar-menu: $--color-white;
$--color-actionbar-menu-hover: #86e186;
$--color-actionbar-menu-active: #0cc20c;

$colors: (
  primary: $--color-primary,
  success: $--color-success,
  warning: $--color-warning,
  danger: $--color-danger,
  info: $--color-info,
  white: $--color-white,
  black: $--color-black,
  text-primary: $--color-text-primary,
  text-regular: $--color-text-regular,
  text-secondary: $--color-text-secondary,
  text-placeholder: $--color-text-placeholder,
  border-base: $--border-color-base,
  border-light: $--border-color-light,
  border-lighter: $--border-color-lighter,
  border-extra-light: $--border-color-extra-light,
  hover-background-b: $--hover-background-color-black,
  hover-background-w: $--hover-background-color-white,
  actionbar-menu: $--color-actionbar-menu,
  actionbar-menu-hover: $--color-actionbar-menu-hover,
  actionbar-menu-active: $--color-actionbar-menu-active
);

@function getColor($colorName) {
  @return var(--color-#{$colorName});
}
