@import './var.scss';
* {
  margin: 0;
  padding: 0;
}
html,
body,
#app {
  width: 100%;
  height: 100%;
}

#app {
  color: $--color-text-primary;
}

a {
  text-decoration: none;
  color: $--color-text-primary;
}
