:root[data-theme='dark'] {
  // ActionBar
  --actionbar__background-color: var(--color-primary);
  --actionbar__font-color: var(--color-white);
  --actionbar-menu__icon-color: #ffffff;
  --actionbar-menu__icon-color--hover: #86e186;
  --actionbar-menu__icon-color--active: #0cc20c;
  // SideBar
  --sidebar__box-shadow: -5px 0 10px var(--color-primary);
  --sidebar__background-color: var(--color-primary);
  --sidebar__header-icon-color: var(--color-white);
  --sidebar-menu__color: #909399;
  --sidebar-menu__color--hover: #86e186;
  --sidebar-menu__color--active: #ffffff;
}
