$colors: (
  white: #ffffff,
  black: #000000,
  primary: #424242,
  success: #46c37b,
  warning: #f5a623,
  danger: #f56c6c,
  info: #909399,
  text-primary: #ffffff,
  text-regular: #c0c4cc,
  text-secondary: #909399,
  text-placeholder: #606266,
  border-base: #dcdfe6,
  border-light: #e4e7ed,
  border-lighter: #ebeef5,
  border-extra-light: #f2f6fc,
  body-background: #303030,
  hover-background-b: rgba(0, 0, 0, 0.25),
  hover-background-w: rgba(255, 255, 255, 0.25),
  actionbar-menu: #ffffff,
  actionbar-menu-hover: #86e186,
  actionbar-menu-active: #0cc20c,
  sidebar-menu: #909399,
  sidebar-menu-hover: #86e186,
  sidebar-menu-active: #ffffff
);

:root[data-theme='dark'] {
  @each $name, $color in $colors {
    --color-#{$name}: #{$color};
  }
  --mz-button-shadow: 0 1px 2px 0 rgba(192, 196, 204, 0.3),
    0 3px 6px 2px rgba(192, 196, 204, 0.15);
  --mz-button-background-color-disabled: rgba(255, 255, 255, 0.12);
}
